@import "../../sass/variables";

.users {
  grid-column: full-start / col-end 4;
  display: grid;
  grid-template-rows: min-content 1rem 1fr;

  &__form {
    padding: 1rem 0;
    padding-block-start: 1rem;
    grid-row: 3 / -1;
    align-self: end;
  }

  @media (max-width: 768px) {
    grid-column: 1 /-1;
  }
}

#users__form--btn {
  background-color: $primary-color;
  color: $primary-font-color;
  text-transform: uppercase;
  &:hover {
    opacity: 0.8;
  }
}


.ui.icon.header,
.ui.inline.loader.active  {
  background-color: initial;
  color: initial;
}