@import "../../sass/variables";

.bar-chart {
  grid-column: full-start / col-end 4;
  border-top: $border;
  border-bottom: $border;

  &__data {
    padding-top: 1rem;
  }

  @media (max-width: 768px) {
    grid-column: 1 / -1;
  }
}
