@import "../../sass/variables";

.navigation {
  grid-row: 2 / 8;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $secondary-color;
  padding: 1rem !important;
  &__item {
    text-decoration: none;
    padding: 0.5rem 1.9rem;
    margin: 0.5rem 0;

    &--active {
      border-left: 3px solid $extra-color-2;
    }
    &--icon {
      width: 2rem;
      height: 2rem;
    }
  }

  @media (max-width: 768px) {
    grid-column: 1 / -1;
    flex-direction: row;
    justify-content: center;
    &__item {
      &--active {
        border-left: none;
        border-bottom: 3px solid $extra-color-2;
      }
    }
  }
}
