@import "../../sass/variables";

.members {
  grid-column: full-start / col-end 4;
  border-top: $border;
  border-bottom: $border;

  &__data {
    padding-top: 1rem;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  @media (max-width: 768px) {
    grid-column: 1 / -1;
    border-bottom: none;
  }
}

.members__data--text {
  color: $primary-color !important;
  opacity: 0.8;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
