@import "../../sass/variables";

.line-chart {
  grid-column: sidebar-end / full-end;

  display: grid;
  grid-template-columns: 10rem repeat(4, 1fr);
  align-items: center;

  &__control {
    grid-column: 5 / -1;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-column-gap: 0.5rem;

    &--item {
      list-style: none;
      width: 4.2rem;
      text-align: center;
      padding: 0.3rem 0;
      border-radius: 2.2rem;
      cursor: pointer;
    }
  }

  &__data {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    padding-top: 1rem;
  }

  @media (max-width: 768px) {
    grid-column: 1 / -1;

    grid-template-columns: 5rem repeat(4, 1fr);
  }
}

.active {
  color: $primary-font-color;
  background-color: $extra-color-2;
}
