@import "../../sass/variables";

.dashboard {
  grid-column: sidebar-end / full-end;

  display: grid;
  grid-template-columns: 12rem repeat(4, 1fr);
  align-items: center;
  padding-top: 0;
  padding-right: 0;

  &__title {
    font-size: 1.4rem;
    font-weight: 300;
    justify-self: start;
    margin: 0;
  }
  &__box {
    grid-column: 2 / 6;
    background-color: $tertiary-color;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem 1rem 1rem;
    border-left: $border;
    border-bottom: $border;
  }
  &__alert {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding: 1rem 2rem 1rem 0;
  }

  @media (max-width: 768px) {
    grid-column: 1 / -1;

    grid-template-columns: 8rem repeat(4, 1fr);
  }
}
