@import "../../sass/variables";

.search {
  position: relative;
}

.users__input {
  width: 100%;
  margin-bottom: 0.9rem;
}
.search__input {
  width: 28vw;

  @media (max-width: 768px) {
    width: 50vw;
  }
}

.search__results {
  position: absolute;
  
  width: 100%;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  white-space: normal;
  text-align: left;
  text-transform: none;
  background: #fff;
  margin-top: 0.5em;

  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  z-index: 998;

  &__container {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 1rem;
    padding: 0.8rem;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.33;
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);

    &--image {
      flex: 1 35%;
      text-align: center;
    }

    &--content {
      flex: 2 65%;
      color: $primary-font-color-1;

      &--title {
        font-size: 1.1rem;
        color: $primary-color;
      }
    }

    @media (max-width: 668px) {
      flex-direction: column;

      &--content {
        text-align: center;
        font-size: 0.7rem;

        &--title {
          font-size: 0.9rem;
        }
      }
    }
  }
}
