@import "../sass/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: $primary-font-color-1;
}

h3 {
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}
.container {
  margin: 20px auto;
  padding: 10px;
  height: 100vh;

  display: grid;
  grid-template-rows: 6rem min-content;
  grid-template-columns:
    [sidebar-start] 6rem [sidebar-end full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
  // grid-gap: 10px;

  & > * {
    background: $tertiary-color;
    padding: 1rem;
  }
}
